
.contacts {
	&__wrap {
		max-width: 390px;
		height: auto;
		border: 3px solid $black-color;
		background-color: $white-color;
		padding: 25px 60px 35px 30px;
		position: absolute;
		top: 170px;
		left: 15%;
		z-index: 10;
		text-align: left;
	}
	&__title {
		font: 16px $font-roboto;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__address {
		font: 14px $font-roboto;
		font-weight: 300;
		line-height: 1.7;
		color: $grey-color;
		margin-bottom: 25px;
	}
	&__bltext {
		font: 14px $font-roboto;
		font-weight: 700;
	}
	&__day {
		font: 14px $font-roboto;
		font-weight: 700;
		color: $grey-color;
		line-height: 1.7;
		display: inline-block;
		vertical-align: top;
		width: 100px;
		margin-right: 35px;
	}
	&__time {
		font: 14px $font-roboto;
		font-weight: 300;
		color: $grey-color;
		line-height: 1.7;
		width: 100px;
		display: inline-block;
		vertical-align: top;

	}
}