.description {
	background-image: url(../../img/bg.png);

	&__gradient--white {
		background: linear-gradient( 90deg, rgba(255,255,255,1) 60%, rgba(255,255,255, .7));
	}
	&__gradient--black {
		background: linear-gradient( 90deg, rgba(0,0,0,1) 60%, rgba(0,0,0, .7));
	}
	&--bg-black {
		background-color: $black-color;
	}
	&__cont {
		padding-top: 110px;
		padding-bottom: 30px;
	}
	&__cont--black {
		color: $white-color;
	}
	&__title {
		font: 48px $font-roboto;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 2px;
		margin-bottom: 55px;
		text-transform: uppercase;
	}
	&__separ {
		width: 390px;
		height: 4px;
		margin: 45px 0;
	}
	&__separ--white {
		background-color: $black-color;
	}
	&__separ--black {
		background-color: $white-color;
	}
	&__textreg {
		font: 18px $font-roboto;
		font-weight: 400;
		line-height: 1.4;
	}
	&__textthin {
		font: 16px $font-roboto;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 2px;
	}
	&__arrow {
		text-align: center;
		padding-bottom: 20px;
	}

}