.footer {
	background-color: $black-color;
	padding: 30px 0;
	color: $white-color;
	&__logo {
		width: 70px;
		height: 70px;
		display: inline-block;
		vertical-align: middle;
	}
	&__contacts {
		display: inline-block;
		vertical-align: middle;
		font: 12px $font-roboto;
		font-weight: 300;
		line-height: 15px;
		margin-left: 30px;
		height: 70px;
	}
	&__social {
		float: right;
		margin-top: 24px;
	}
	&__item {
		list-style: none;
		width: 30px;
		height: 30px;
		background-color: $white-color;
		display: inline-block;
		margin-left: 20px;
		padding-top: 5px; 
		padding-left: 5px;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}

}