.form {
	max-width: 555px;
	height: auto;
	margin: 0 auto;
	padding: 20px 70px 30px;
	position: relative;
	color: $black-color;

	&__title {
		font: 47px $font-roboto;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 2px;
		margin-bottom: 55px;
		text-transform: uppercase;
		margin-top: 0;
		text-align: center;
	}
	&__cont {
		position: relative;
		margin-top: 50px;
		margin-bottom: 35px;
		padding-bottom: 25px;
		&:before, &:after {
			content: " ";
			position: absolute;
			height: 4px;
			width: 100%;
			left: 0;
			background-color: $black-color;
		}
		&:before {
			top: -40px;
		}
		&:after {
			bottom: -20px;
		}
	}
	&__wrap {
		margin-bottom: 20px;
	}
	&__label {
		display: inline-block; 
		font: 14px $font-roboto;
  	font-weight: 300;
  	letter-spacing: 1.5px;
  	line-height: 1.5;
  	text-indent: 5px;
	}
	&__inputtext, &__select, &__inputdate, &__textarea {
		height: 25px;
		border: 1px solid $black-color;
		font: 14px $font-roboto;
  	font-weight: 300;
  	letter-spacing: 1.5px;
  	line-height: 1.5;
  	text-indent: 5px;
	}
	&__inputtext {
		float: right;
		width: 290px;
		height: 25px;
	}
	&__select {
		width: 210px;
		height: 25px;
	}
	&__inputdate {
		width: 195px;
		height: 25px;
		float: right;
		background-image: url(../../img/calenr.png);
		background-repeat: no-repeat;
		background-position:  top right;
	}
	&__textarea {
		display: inline-block;
		float: right;
		width: 290px;
		height: 115px;
	}
	&__btn {
		padding: 5px 35px;
		background-color: $black-color;
		border: none;
		color: $white-color;
		font: 10px $font-roboto;
		font-weight: 300;
		letter-spacing: 1;
		float: right;
		border: 1px solid $black-color;
		&:hover {
			color: $black-color;
			background-color: $white-color;
		}
	}
	&__close {
		width: 25px;
		height: 25px;
		position: absolute;
		right: 20px;
		top: 15px;
		cursor: pointer;
		&:before, &:after {
			position: absolute;
  		left: 10px;
  		content: ' ';
  		height: 35px;
  		width: 1px;
  		background-color: #333;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			&:before, &:after {
				width: 2px;
			}
		}
	}
	&--littletext {
		font: 10px $font-roboto;
		letter-spacing: 0.5px;
	}
	&--labelwidth {
		width: 110px;
		margin-bottom: 55px;
	}
}
