.header {
	background-color: rgba(0,0,0, .8);
	border-bottom: 1px solid $white-color;
	position: fixed;
	width: 100%;
	z-index:99999;
	transition:  all 0.5s ease;
	// display: none;   //подключаем появление на втором экране
	&__logo {
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		height: 70px;
	}
	&__wrap-menu {
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
		float: right;
	}
	&__nav {
		display: inline-block;
		vertical-align: middle;
		padding-right: 30px;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		padding-right: 40px;
		&:hover {
			opacity: .7;
		}
	}
	&__link {
		color: $white-color;
		font: 14px $font-roboto;
		font-weight: 300;

	}
	&__tel {
		display: inline-block;
		vertical-align: middle;
		color: $white-color;
		font: 14px $font-roboto;
		font-weight: 300;
		padding-right: 30px;
	}
	&__btn {
		display: inline-block;
		vertical-align: middle;
		border: 1px solid $white-color;
		background-color: transparent;
		color: $white-color;
		font: 14px $font-roboto;
		font-weight: 300;
		padding-right: 10px;
		padding: 15px 20px;
		&:hover {
			background-color: $white-color;
			color: $black-color;
			border: 1px solid $black-color;
		}
	}
	&__address{
		display: none;
	}


}






